<html>
	<head>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<div id = "wholepage">
		<p class="hidden"> This is Beta.erb</p><br>
		    <h1>Add your tasks</h1><br />
		    <input id="taskText" type="text" name="task"/>
        	<input type="button" value="Add task" id="start"/>
		<form method="post">
			<div id="container"></div>
		</form>

		<button type="submit" value="Delete task" id="delete">Delete tasks</button>

		<script type="text/javascript" src="script.js"></script>
		</div>
	</body>
</html>

