body {
	font-family: Helvetica, sans-serif;
	background-color: #16a085;
	color: white;
}

header {
	padding: 5px;
	text-align: center;
}

form {
	padding: 20px 10px;
	background-color: #1abc9c;
	margin: auto;
	border-radius: 10px;
}

input {
	padding: 10px;
	margin: auto;
}

button {
	padding: 10px;
	border-radius: 5px;
	background-color: #ecf0f1;
}

.hidden {
	display: none;
}

.wholepage {
	margin: auto;
}

#container {
	margin: 0px;
	padding: 0px;
}

#start {
	margin-top: 10px;
}

input.checks {
	margin-right: 10px;
	padding: 10px;
}

ul li {
	list-style: none;
	margin: 5px 0;
	background-color: #f39c12;
	padding: 10px;
	color: #2c3e50;
	border-radius: 5px;
	border: 1px solid #ecf0f1;
}

ul li:nth-child(2n) {
	background-color: #f39c12;
}

ul li:nth-child(2n+1) {
	background-color: #f1c40f;
}