body {
	background-color: #384252;
	margin: 0px;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

#wholepage {
	margin: auto;
	max-width: 80%;
}

header {
	padding: 5px;
	text-align: center;
	color: #FFFFDD;
}

form {
	text-align: center;
	padding: 10px 0 20px 0;
	margin: auto;
	border-radius: 10px;
}

input[type='text'] {
	border: 1px solid #C0EFD2;
  padding: 10px;
  outline: 0px;
  font-size: 1em;
  width: 100%;
  color: #384252;
}

input[type='text']:focus, input[type='text']:hover{
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  border: 2px solid #C0EFD2;
  box-shadow: 0 0 5px #C0EFD2;
}

button {
	padding: 10px;
	-webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
	border: 1px solid #C0EFD2;
	border-radius: 5px;
	background-color: #C0EFD2;
	color: #384252;
	font-size: 1em;
}

button:hover {
	background-color: #E25858;
	border: 1px solid #E25858;
	color: white;
}

.hidden {
	display: none;
}

#container {
	margin: 0px;
	padding: 0px;
}

ul#container li {
	list-style: none;
	color: #2c3e50;
	padding: 0px;
	margin-bottom: 1px;
}

ul#container li:nth-child(2n) {
	background-color: #FFFFDD;
}

ul#container li:nth-child(2n+1) {
	background-color: #E9D6AF;
}

ul#container li:hover {
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
	font-size: 1.5em;
	background-color: #FFF;
	color: #E25858;
}

input[type='radio'] {
	display: none;
}

input[type='radio'] + label {
  color: #384252;
  cursor: pointer;
  line-height: 2em;
}

label {
	padding: 10px 0px 10px 10px;
}

input[type='radio'] + label:hover {
	color: #E25858;
}

input[type='radio']:checked + label {
	color: #E25858;
	font-size: 1.5em;
}

.resulta {
	margin: auto;
}

button#delete {
	margin: 20px auto;
	text-align: center;
}
